## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Renderer of the publication worflow review date notification.
#template('notification/macros.vm')
## Customization of the displayNotificationEvent macro
#macro(displayReviewDateReachedNotificationEvent $compositeEvent)
  ###
  ### Icons
  ###
  #set ($eventDescriptor = $services.eventstream.getDescriptorForEventType($compositeEvent.type, $xcontext.isMainWiki()))
  #set ($mainIcon = $eventDescriptor.applicationIcon)
  #set ($smallIcon = $eventDescriptor.eventTypeIcon)
  ###
  ### Content
  ###
  #define($content)
    #set ($document = $xwiki.getDocument($compositeEvent.document))
    <div class="notification-page">
      <a href="$!escapetool.xml($document.getURL())">$document.displayTitle</a>
      #if ($xcontext.getContext().getOriginalWikiId() != $compositeEvent.document.wikiReference.name)
        <span class="text-muted">($services.wiki.getById($compositeEvent.document.wikiReference.name).prettyName)</span>
      #end
    </div>
    <div class="notification-description">
      $services.localization.render('publication.workflow.review.notifications.review.date.reached.description')
      <div><small class="text-muted">$escapetool.xml($services.date.displayTimeAgo($compositeEvent.dates.get(0)))</small></div>
    </div>
  #end
  ### Display
  ###
  #displayNotificationEventSkeleton($mainIcon, $smallIcon, $content, $NULL)
#end
##
#displayReviewDateReachedNotificationEvent($event)